/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */


.blocks-button__inline-link{
    display: flex;
    align-items: center;

    .editor-url-input{
       margin-left: 10px;
       flex-grow: 0;
    }
}

.editor-block-list__block[data-type="lovage-blocks/icon-list"]{
  .editor-block-list__block-edit{
      margin: 0;
  }
}

.eb-icon-list-title{
   margin-top: 0;
   margin-bottom: 5px;
}